{%- if image != blank -%}
    {% if image.width > 180 %}{{ image | img_url: '180x' }} 180w, {% endif %}
    {% if image.width > 360 %}{{ image | img_url: '360x' }} 360w, {% endif %}
    {% if image.width > 540 %}{{ image | img_url: '540x' }} 540w, {% endif %}
    {% if image.width > 720 %}{{ image | img_url: '720x' }} 720w, {% endif %}
    {% if image.width > 900 %}{{ image | img_url: '900x' }} 900w, {% endif %}
    {% if image.width > 1080 %}{{ image | img_url: '1080x' }} 1080w, {% endif %}
    {% if image.width > 1296 %}{{ image | img_url: '1296x' }} 1296w, {% endif %}
    {% if image.width > 1512 %}{{ image | img_url: '1512x' }} 1512w, {% endif %}
    {% if image.width > 1728 %}{{ image | img_url: '1728x' }} 1728w, {% endif %}
    {% if image.width > 1950 %}{{ image | img_url: '1950x' }} 1950w, {% endif %}
    {% if image.width > 2100 %}{{ image | img_url: '2100x' }} 2100w, {% endif %}
    {% if image.width > 2260 %}{{ image | img_url: '2260x' }} 2260w, {% endif %}
    {% if image.width > 2450 %}{{ image | img_url: '2450x' }} 2450w, {% endif %}
    {% if image.width > 2700 %}{{ image | img_url: '2700x' }} 2700w, {% endif %}
    {% if image.width > 3000 %}{{ image | img_url: '3000x' }} 3000w, {% endif %}
    {% if image.width > 3350 %}{{ image | img_url: '3350x' }} 3350w, {% endif %}
    {% if image.width > 3750 %}{{ image | img_url: '3750x' }} 3750w, {% endif %}
    {% if image.width > 4100 %}{{ image | img_url: '4100x' }} 4100w, {% endif %}
    {{ image | img_url: 'master' }} {{ image.width }}w {{ image.height }}h
{%- endif -%}
