{% comment %}
Create a dropdown menu by naming a linklist the same as a link in the parent nav

More info on dropdowns:
- http://docs.shopify.com/manual/your-website/navigation/create-drop-down-menu
{% endcomment %}

{% for link in linklists.main-menu.links %}

{% assign child_list_handle = link.title | handleize %}

{% if linklists[child_list_handle].links != blank %}

    <li class="mobile-nav__item{% if link.active %} mobile-nav__item--active{% endif %}" aria-haspopup="true">

        <div class="mobile-nav__has-sublist">
        <a href="{{ link.url }}" class="mobile-nav__link">{{ link.title }}</a>
        <div class="mobile-nav__toggle">
        <button type="button" class="icon-fallback-text mobile-nav__toggle-open">
        <span class="icon icon-plus" aria-hidden="true"></span>
        <span class="fallback-text">See More</span>
        </button>
        <button type="button" class="icon-fallback-text mobile-nav__toggle-close">
        <span class="icon icon-minus" aria-hidden="true"></span>
        <span class="fallback-text">{{ 'cart.general.close_cart' | t | json }}</span>
        </button>
        </div>
        </div>
        <ul class="mobile-nav__sublist">
        {% for childlink in linklists[child_list_handle].links %}
        <li class="mobile-nav__item {% if childlink.active %} mobile-nav__item--active{% endif %}">
        <a href="{{ childlink.url }}" class="mobile-nav__link">{{ childlink.title | escape }}</a>
        </li>
        {% endfor %}
        </ul>
        
    </li>

{% else %}
        
        <li class="mobile-nav__item{% if link.active %} mobile-nav__item--active{% endif %}">
         <a href="{{ link.url }}" class="mobile-nav__link">{{ link.title }}</a>

        </li>

{% endif %}

{% endfor %}