{% comment %}

    This Snippet is used to display the Newsletter Form

    Pass a liquid variable of: newsletter_title
    to change the title text

{% endcomment %}

{% unless newsletter_title %}

  {% assign newsletter_title = 'layout.footer.newsletter_title' | t %}

{% endunless %}

{% unless newsletter_subtext %}

  {% assign newsletter_subtext = '' %}

  {% if newsletter_subtext == false %}

    {% assign newsletter_subtext = '' %}

  {% endif %}

{% endunless %}


{% comment %}
  MailChimp is the go-to newsletter service for Shopify.
  Use the link below to find your MailChimp form action
  and insert it in your site settings.

  If the form action URL is not set in the theme settings,
  it will fallback to a customer form so you can still capture the email.

  MailChimp newsletter integration and requirement:
   - http://docs.shopify.com/support/configuration/store-customization/where-do-i-get-my-mailchimp-form-action
{% endcomment %}
<h3>{{ newsletter_title }}</h3>

{% if newsletter_subtext != blank %}
  <p>{{ newsletter_subtext }}</p>
{% endif %}

{% if settings.newsletter_form_action != blank %}
  <form action="{{ settings.newsletter_form_action }}" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" target="_blank" class="input-group">
    <input type="email" value="{% if customer %}{{ customer.email }}{% endif %}" placeholder="{{ 'general.newsletter_form.newsletter_email' | t }}" name="EMAIL" id="mail" class="input-group-field" aria-label="{{ 'general.newsletter_form.newsletter_email' | t }}" autocorrect="off" autocapitalize="off">
    <span class="input-group-btn">
      <input type="submit" class="btn" name="subscribe" id="subscribe" value="{{ 'general.newsletter_form.submit' | t }}">
    </span>
  </form>
{% else %}
  {% form 'customer' %}
    {{ form.errors | default_errors }}
    {% if form.posted_successfully? %}
      <p class="note form-success">{{ 'general.newsletter_form.confirmation' | t }}</p>
    {% else %}
      <div class="input-group">
        <input type="email" value="{% if customer %}{{ customer.email }}{% endif %}" placeholder="{{ 'general.newsletter_form.newsletter_email' | t }}" name="contact[email]" id="Email" class="input-group-field" aria-label="{{ 'general.newsletter_form.newsletter_email' | t }}" autocorrect="off" autocapitalize="off">
        <input type="hidden" name="contact[tags]" value="newsletter">
        <span class="input-group-btn">
          <input type="submit" class="btn" name="subscribe" id="subscribe" value="{{ 'general.newsletter_form.submit' | t }}">
        </span>
      </div>
    {% endif %}
  {% endform %}
{% endif %}