{% comment %}

    This Snippet is used to display the Social Icons

    Pass a liquid variable of: grid_item_width
    to change the title text

{% endcomment %}

{% unless social_title %}
  {% assign social_title = 'layout.footer.social_title' | t %}
{% endunless %}

<h3>{{ social_title }}</h3>

<ul class="inline-list social-icons">

    {% if settings.social_facebook_link != blank %}
        <li>
            <a class="icon-fallback-text" href="{{ settings.social_facebook_link }}" title="{{ shop.name }} on Facebook">
                <span class="icon icon-facebook" aria-hidden="true"></span>
                <span class="fallback-text">Facebook</span>
            </a>
        </li>
    {% endif %}

    {% if settings.social_twitter_link != blank %}
        <li>
            <a class="icon-fallback-text" href="{{ settings.social_twitter_link }}" title="{{ shop.name }} on Twitter">
                <span class="icon icon-twitter" aria-hidden="true"></span>
                <span class="fallback-text">Twitter</span>
            </a>
        </li>
    {% endif %}

    {% if settings.social_instagram_link != blank %}
        <li>
            <a class="icon-fallback-text" href="{{ settings.social_instagram_link }}" title="{{ shop.name }} on Instagram">
                <span class="icon icon-instagram" aria-hidden="true"></span>
                <span class="fallback-text">Instagram</span>
            </a>
        </li>
    {% endif %}

    {% if settings.social_google_plus_link != blank %}
        <li>
            <a class="icon-fallback-text" href="{{ settings.social_google_plus_link }}" title="{{ shop.name }} on Google Plus">
                <span class="icon icon-google-plus" aria-hidden="true"></span>
                <span class="fallback-text">Google Plus</span>
            </a>
        </li>
    {% endif %}

    {% if settings.social_youtube_link != blank %}
        <li>
            <a class="icon-fallback-text" href="{{ settings.social_youtube_link }}" title="{{ shop.name }} on Youtube">
                <span class="icon icon-youtube" aria-hidden="true"></span>
                <span class="fallback-text">Youtube</span>
            </a>
        </li>
    {% endif %}

    {% if settings.social_pinterest_link != blank %}
        <li>
            <a class="icon-fallback-text" href="{{ settings.social_pinterest_link }}" title="{{ shop.name }} on Pinterest">
                <span class="icon icon-pinterest" aria-hidden="true"></span>
                <span class="fallback-text">Pinterest</span>
            </a>
        </li>
    {% endif %}
    
</ul>