{% if section.settings.columns == "3" %}
{% assign grid__item_width = "large--one-third medium--one-third" %}
{% elsif section.settings.columns == "2" %}
{% assign grid__item_width = "large--one-half medium--one-half" %}
{% elsif section.settings.columns == "1" %}
{% assign grid__item_width = "large--one-whole medium--one-whole" %}
{% endif %}

<div style="
{% if section.settings.top_spacing != '' %}padding-top: {{ section.settings.top_spacing }}px;{% endif %}
{% if section.settings.bottom_spacing != '' %}padding-bottom: {{ section.settings.bottom_spacing }}px; {% endif %}
{% if section.settings.background_colour != '' %} background-color: {{ section.settings.background_colour }}; {% endif %}"
{% if section.settings.section_layout %} class="{{ section.settings.section_layout }}" {% endif %}>

  {% if section.settings.contain %}
  <div class="wrapper">
  {% endif %}

    <div class="grid grid--uniform">

        {% for block in section.blocks %} 

        <div class="grid__item {{ grid__item_width }}">

            <div class="hover-box hover-box--{{ block.settings.hero_size }}"
            {% if block.settings.image %}
            data-desktop-image="{{ block.settings.image | img_url: '1120x' }}" 
            {% endif %}
            {% if block.settings.image %}
            data-tablet-image="{{ block.settings.image | img_url: '768x' }}" 
            {% endif %}
            {% if block.settings.image %}
            data-mobile-image="{{ block.settings.image | img_url: '480x' }}" 
            {% endif %}
            style="background-position: {{ block.settings.alignment }}; background-image: url('{{ block.settings.image | img_url: '480x' }}')" >
                {% if block.settings.image == blank %}
                <div class="placeholder-background">
                    {{ 'lifestyle-1' | placeholder_svg_tag: 'placeholder-svg' }}
                </div>
                {% endif %}

                <div class="hover-box__inner {% if block.settings.content-vertical-alignment %}{{ block.settings.content-vertical-alignment }}{% endif %}" {% if block.settings.overlay_colour %} style="background-color: {{ block.settings.overlay_colour }}85;"{% endif %}>
                    <div class="text-center">
                    {% if block.settings.title != blank %}
                    <h2 class="hover-box__title{% if block.settings.text_size == 'large' %} hover-box__title--large{% endif %}"{% if block.settings.text_colour %} style="color: {{ block.settings.text_colour }}"{% endif %}>{{ block.settings.title | escape }}</h2>
                    {% endif %}
                    {% if block.settings.button_label != blank and block.settings.button_link != blank %}
                    <a href="{{ block.settings.button_link }}" class="btn hero__btn {% if block.settings.button_type %}{{ block.settings.button_type }}{% endif %}">
                    {{ block.settings.button_label | escape }}
                    </a>
                    {% endif %}
                    </div>

                </div>

            </div>
          
        </div>

        {% endfor %}

    </div>

  {% if section.settings.contain %}
  </div>
  {% endif %}

</div>

{% schema %}
{
    "name": "Hover Boxes",
    "class": "hover-box-container",
    "max_blocks": 6,
    "settings": [
        {
            "type": "select",
            "id": "section_layout",
            "label": "Section Layout?",
            "default": "full-width",
            "info": "This will bleed the section to the full width of the screen.",
            "options": [
                {
                    "value": "full-width",
                    "label": "Full Width with padding"
                },
                {
                    "value": "full-width full-width--no-padding",
                    "label": "Full Width no padding"
                },
                {
                    "value": "boxed",
                    "label": "Boxed"
                }
            ]
        },
        {
            "type": "checkbox",
            "id": "contain",
            "label": "Contain content within wrapper?",
            "default": true,
            "info": "This will contain your content to a maximum of 1120px."
        },
        {
            "type": "text",
            "id": "top_spacing",
            "label": "Top Spacing (in pixels)",
            "default": "20",
            "info": "Do not add units of measurement. E.g. px."
        },
        {
            "type": "text",
            "id": "bottom_spacing",
            "label": "Bottom Spacing (in pixels)",
            "default": "20",
            "info": "Do not add units of measurement. E.g. px."
        },
        {
            "type": "color",
            "id": "background_colour",
            "label": "Background Colour",
            "default": "#EEEEEE"
        },
        {
            "type": "select",
            "id": "columns",
            "label": "Columns",
            "default": "2",
            "options": [
                {
                    "value": "3",
                    "label": "3"
                },
                {
                    "value": "2",
                    "label": "2"
                },
                {
                    "value": "1",
                    "label": "1"
                }
            ]
        }
    ],
    "blocks": [
        {
            "type" : "hover_boxes",
            "name" : "Hover Boxes",
            "settings": [
                {
                    "type": "text",
                    "id": "title",
                    "label": "Heading",
                    "default": "Image Hover Box"
                },
                {
                    "type": "image_picker",
                    "id": "image",
                    "label": "Image"
                },
                {
                    "type": "select",
                    "id": "alignment",
                    "label": "Image alignment",
                    "default": "center",
                    "options": [
                        {
                            "value": "top",
                            "label": "Top"
                        },
                        {
                            "value": "center",
                            "label": "Middle"
                        },
                        {
                            "value": "bottom",
                            "label": "Bottom"
                            }
                    ]
                },
                {
                    "type": "select",
                    "id": "content-vertical-alignment",
                    "label": "Content Vertical Alignment",
                    "default": "hover-box__inner--middle",
                    "options": [
                        {
                            "value": "hover-box__inner--top",
                            "label": "Top"
                        },
                        {
                            "value": "hover-box__inner--middle",
                            "label": "Middle"
                        },
                        {
                            "value": "hover-box__inner--bottom",
                            "label": "Bottom"
                        }
                    ]
                },
                {
                    "type": "select",
                    "id": "hero_size",
                    "label": "Section height",
                    "default": "medium",
                    "options": [
                        {
                            "label": "Small",
                            "value": "small"
                        },
                        {
                            "label": "Medium",
                            "value": "medium"
                        },
                        {
                            "label": "Large",
                            "value": "large"
                        }
                    ]
                },
                {
                    "type": "select",
                    "id": "text_size",
                    "label": "Text size",
                    "default": "medium",
                    "options": [
                        {
                            "label": "Medium",
                            "value": "medium"
                        },
                        {
                            "label": "Large",
                            "value": "large"
                        }
                    ]
                },
                {
                    "type": "select",
                    "id": "button_type",
                    "label": "Button Type",
                    "default": "btn--primary",
                    "options": [
                        {
                            "label": "Primary",
                            "value": "btn--primary"
                        },
                        {
                            "label": "Secondary",
                            "value": "btn--secondary"
                        }
                    ]
                },
                {
                    "type": "text",
                    "id": "button_label",
                    "label": "Button label"
                },
                {
                    "type": "url",
                    "id": "button_link",
                    "label": "Button link"
                },
                {
                    "type": "color",
                    "id": "overlay_colour",
                    "label": "Overlay Colour"
                },
                {
                    "type": "color",
                    "id": "text_colour",
                    "label": "Overlay Colour"
                }
            ]
        }
    ],
    "presets": [
        {
            "name": "Hover Boxes",
            "category": "Image",
            "blocks": [
                { 
                    "type": "hover_boxes"
                },
                {
                    "type": "hover_boxes"
                }
            ]
        }
    ]
}
{% endschema %}