{% if section.settings.columns == "3" %}
{% assign grid__item_width = "large--one-third medium--one-third" %}
{% elsif section.settings.columns == "2" %}
{% assign grid__item_width = "large--one-half medium--one-half" %}
{% elsif section.settings.columns == "1" %}
{% assign grid__item_width = "large--one-whole medium--one-whole" %}
{% endif %}

<div style="
{% if section.settings.top_spacing != '' %}padding-top: {{ section.settings.top_spacing }}px;{% endif %}
{% if section.settings.bottom_spacing != '' %}padding-bottom: {{ section.settings.bottom_spacing }}px; {% endif %}
{% if section.settings.background_colour != '' %} background-color: {{ section.settings.background_colour }}; {% endif %}"
{% if section.settings.section_layout %} class="{{ section.settings.section_layout }}" {% endif %}>

    {% if section.settings.contain %}
    <div class="wrapper">
    {% endif %}

        <div class="grid grid--uniform">

            {% for block in section.blocks %} 

            <div class="grid__item {{ grid__item_width }}">

                <div class="image-link" >

                    {% if block.settings.image == blank %}
                    <div class="placeholder-background">
                        {{ 'lifestyle-1' | placeholder_svg_tag: 'placeholder-svg' }}
                    </div>
                    {% endif %}

                    {% if block.settings.image_link != blank %}
                    <a href="{{ block.settings.image_link }}">
                    {% endif %}
                        
                        {% if block.settings.image != blank %}
                        <img src="{{ block.settings.image | img_url: '768x' }}" srcset="{{ block.settings.image | img_url: '1120x' }} 1120w, {{ block.settings.image | img_url: '768x' }} 768w, {{ block.settings.image | img_url: '480x' }} 480w" alt="">
                        {% endif %}

                    {% if block.settings.image_link != blank %}
                    </a>
                    {% endif %}

                    <div class="image-link__inner">

                        <div {% if block.settings.content-horizontal-alignment %} class="{{ block.settings.content-horizontal-alignment }}"{% endif %}>

                            {% if block.settings.title != blank %}
                            <h2 class="image-link__title{% if block.settings.text_size != blank %} {{ block.settings.text_size }}{% endif %}"{% if block.settings.text_colour %} style="color: {{ block.settings.text_colour }}"{% endif %}>{{ block.settings.title | escape }}</h2>
                            {% endif %}

                            {% if block.settings.sub_text != blank %}
                            <p>{{ block.settings.sub_text }}</p>
                            {% endif %}
                            
                            {% if block.settings.button_label != blank %}
                            <a href="{{ block.settings.image_link }}" class="btn {% if block.settings.button_type %}{{ block.settings.button_type }}{% endif %}">
                            {{ block.settings.button_label | escape }}
                            </a>
                            {% endif %}

                        </div>

                    </div>

                </div>
              
            </div>

            {% endfor %}

        </div>

    {% if section.settings.contain %}
    </div>
    {% endif %}

</div>

{% schema %}
{
    "name": "Image Links",
    "class": "image-link-container",
    "max_blocks": 6,
    "settings": [
       {
            "type": "select",
            "id": "section_layout",
            "label": "Section Layout?",
            "default": "full-width",
            "info": "This will bleed the section to the full width of the screen.",
            "options": [
                {
                    "value": "full-width",
                    "label": "Full Width with padding"
                },
                {
                    "value": "full-width full-width--no-padding",
                    "label": "Full Width no padding"
                },
                {
                    "value": "boxed",
                    "label": "Boxed"
                }
            ]
        },
        {
            "type": "checkbox",
            "id": "contain",
            "label": "Contain content within wrapper?",
            "default": true,
            "info": "This will contain your content to a maximum of 1120px."
        },
        {
            "type": "text",
            "id": "top_spacing",
            "label": "Top Spacing (in pixels)",
            "default": "20",
            "info": "Do not add units of measurement. E.g. px."
        },
        {
            "type": "text",
            "id": "bottom_spacing",
            "label": "Bottom Spacing (in pixels)",
            "default": "20",
            "info": "Do not add units of measurement. E.g. px."
        },
            {
            "type": "color",
            "id": "background_colour",
            "label": "Background Colour",
            "default": "#EEEEEE"
        },
        {
            "type": "select",
            "id": "columns",
            "label": "Columns",
            "default": "2",
            "options": [
                {
                    "value": "4",
                    "label": "4"
                },
                {
                    "value": "3",
                    "label": "3"
                },
                {
                    "value": "2",
                    "label": "2"
                },
                {
                    "value": "1",
                    "label": "1"
                }
            ]
        }
    ],
    "blocks": [
        {
            "type" : "image_link",
            "name" : "Image Links",
            "settings": [
                {
                    "type": "text",
                    "id": "title",
                    "label": "Heading",
                    "default": "Image Links"
                },
                {
                    "type": "richtext",
                    "id": "sub_text",
                    "label": "Subtext",
                    "default": "<p>Enter some extra copy here to appear beneath the title</p>"
                },
                {
                    "type": "url",
                    "id": "image_link",
                    "label": "Image link"
                },
                {
                    "type": "image_picker",
                    "id": "image",
                    "label": "Image"
                },
                {
                    "type": "select",
                    "id": "content-horizontal-alignment",
                    "label": "Content Horizontal Alignment",
                    "default": "text-left",
                    "options": [
                        {
                            "value": "text-left",
                            "label": "Left"
                        },
                        {
                            "value": "text-center",
                            "label": "Center"
                        },
                        {
                            "value": "text-right",
                            "label": "Right"
                        }
                    ]
                },
                {
                    "type": "select",
                    "id": "text_size",
                    "label": "Text size",
                    "default": "h4",
                    "options": [
                        {
                            "label": "Medium",
                            "value": "h4"
                        },
                        {
                            "label": "Large",
                            "value": "h2"
                        }
                    ]
                },
                {
                    "type": "select",
                    "id": "button_type",
                    "label": "Button Type",
                    "default": "btn--primary",
                    "options": [
                        {
                        "label": "Primary",
                        "value": "btn--primary"
                        },
                        {
                        "label": "Secondary",
                        "value": "btn--secondary"
                        }
                    ]
                },
                {
                    "type": "text",
                    "id": "button_label",
                    "label": "Button label"
                },
                {
                    "type": "color",
                    "id": "text_colour",
                    "label": "Overlay Colour"
                }
            ]
        }
    ],
    "presets": [
        {
            "name": "Image Links",
            "category": "Image",
            "blocks": [
                { 
                    "type": "image_link"
                }
            ]
        }
    ]
}
{% endschema %}