<div style="
{% if section.settings.top_spacing != '' %}padding-top: {{ section.settings.top_spacing }}px;{% endif %}
{% if section.settings.bottom_spacing != '' %}padding-bottom: {{ section.settings.bottom_spacing }}px; {% endif %}
{% if section.settings.background_colour != '' %} background-color: {{ section.settings.background_colour }}; {% endif %}"
{% if section.settings.section_layout != blank %} class="{{ section.settings.section_layout }}" {% endif %}>

	{% if section.settings.contain %}
	<div class="wrapper">
	{% endif %}

		<div class="grid">
			
			<div class="grid__item">

				<div class="hero hero--{{ section.settings.hero_size }}{% if section.settings.title != blank or section.settings.text != blank or section.settings.button_label != blank %} hero__overlay{% endif %} box bgsrcset ratio-container lazyload js "
					 {% if section.settings.image %}
					 data-desktop-image="{{ section.settings.image | img_url: '1120x' }}" 
					 {% endif %}
					 {% if section.settings.image %}
					 data-tablet-image="{{ section.settings.image | img_url: '768x' }}" 
					 {% endif %}
					 {% if section.settings.image %}
					 data-mobile-image="{{ section.settings.image | img_url: '480x' }}" 
					 {% endif %}
					 style="background-position: {{ section.settings.alignment }}; background-image: url('{{ section.settings.image | img_url: '480x' }}')" >
				  {% if section.settings.image == blank %}
					<div class="placeholder-background">
					  {{ 'lifestyle-1' | placeholder_svg_tag: 'placeholder-svg' }}
					</div>
				  {% endif %}
				  <div class="hero__inner {% if section.settings.content-vertical-alignment %}{{ section.settings.content-vertical-alignment }}{% endif %} {% if section.settings.content-horizontal-alignment %}{{ section.settings.content-horizontal-alignment }}{% endif %}">
					<div class="page-width">
					  {% if section.settings.title != blank %}
						<h2 class="h1 mega-title{% if section.settings.text_size == 'large' %} mega-title--large{% endif %}"{% if section.settings.text_colour %} style="color: {{ section.settings.text_colour }}"{% endif %}>{{ section.settings.title | escape }}</h2>
					  {% endif %}
					  {% if section.settings.text != blank %}
						<div class="rte-setting mega-subtitle{% if section.settings.text_size == 'large' %} mega-subtitle--large{% endif %}"{% if section.settings.text_colour %} style="color: {{ section.settings.text_colour }}"{% endif %}>{{ section.settings.text }}</div>
					  {% endif %}
					  {% if section.settings.button_label != blank and section.settings.button_link != blank %}
						<a href="{{ section.settings.button_link }}" class="btn hero__btn">
						  {{ section.settings.button_label | escape }}
						</a>
					  {% endif %}
					</div>
				  </div>
				</div>

			</div>

		</div>

	{% if section.settings.contain %}
	</div>
	{% endif %}

</div>

{% schema %}
{
	"name": "Image with text overlay",
	"class": "index-section index-section--flush",
	"settings": [
		{
            "type": "select",
            "id": "section_layout",
            "label": "Section Layout?",
            "default": "full-width",
            "info": "This will bleed the section to the full width of the screen.",
            "options": [
                {
                    "value": "full-width",
                    "label": "Full Width with padding"
                },
                {
                    "value": "full-width full-width--no-padding",
                    "label": "Full Width no padding"
                },
                {
                    "value": "boxed",
                    "label": "Boxed"
                }
            ]
        },
		{
			"type": "checkbox",
			"id": "contain",
			"label": "Contain content within wrapper?",
			"default": true,
			"info": "This will contain your content to a maximum of 1120px."
		},
		{
			"type": "text",
			"id": "top_spacing",
			"label": "Top Spacing (in pixels)",
			"default": "20",
			"info": "Do not add units of measurement. E.g. px."
		},
		{
			"type": "text",
			"id": "bottom_spacing",
			"label": "Bottom Spacing (in pixels)",
			"default": "20",
			"info": "Do not add units of measurement. E.g. px."
		},
			{
			"type": "color",
			"id": "background_colour",
			"label": "Background Colour",
			"default": "#EEEEEE"
		},
		{
			"type": "image_picker",
			"id": "image",
			"label": "Image"
		},
		{
			"type": "select",
			"id": "alignment",
			"label": "Image alignment",
			"default": "center",
			"options": [
				{
					"value": "top",
					"label": "Top"
				},
				{
					"value": "center",
					"label": "Middle"
				},
				{
					"value": "bottom",
					"label": "Bottom"
				}
			]
		},
		{
			"type": "select",
			"id": "content-vertical-alignment",
			"label": "Content Vertical Alignment",
			"default": "hero__inner--middle",
			"options": [
				{
					"value": "hero__inner--top",
					"label": "Top"
				},
				{
					"value": "hero__inner--middle",
					"label": "Middle"
				},
				{
					"value": "hero__inner--bottom",
					"label": "Bottom"
				}
			]
		},
		{
			"type": "select",
			"id": "content-horizontal-alignment",
			"label": "Content Horizontal Alignment",
			"default": "text-center",
			"options": [
				{
					"value": "text-left",
					"label": "Left"
				},
				{
					"value": "text-center",
					"label": "Center"
				},
				{
					"value": "text-right",
					"label": "Right"
				}
			]
		},
		{
			"type": "text",
			"id": "title",
			"label": "Heading",
			"default": "Image with text overlay"
		},
		{
			"type": "richtext",
			"id": "text",
			"label": "Text",
			"default": "<p>Use overlay text to give your customers insight into your brand. Select imagery and text that relates to your style and story.</p>"
		},
		{
			"type": "select",
			"id": "hero_size",
			"label": "Section height",
			"default": "medium",
			"options": [
				{
					"label": "Extra Small",
					"value": "x-small"
				},
				{
					"label": "Small",
					"value": "small"
				},
				{
					"label": "Medium",
					"value": "medium"
				},
				{
					"label": "Large",
					"value": "large"
				},
				{
					"label": "Extra Large",
					"value": "x-large"
				}
			]
		},
		{
			"type": "select",
			"id": "text_size",
			"label": "Text size",
			"default": "medium",
			"options": [
				{
					"label": "Medium",
					"value": "medium"
				},
				{
					"label": "Large",
					"value": "large"
				}
			]
		},
		{
			"type": "color",
			"id": "text_colour",
			"label": "Text Colour"
		},
		{
			"type": "text",
			"id": "button_label",
			"label": "Button label"
		},
		{
			"type": "url",
			"id": "button_link",
			"label": "Button link"
		}
	],
	"presets": [
		{
			"name": "Image with text overlay",
			"category": "Image"
		}
	]
}
{% endschema %}