{% if section.settings.columns == "4" %}
{% assign grid_item__width = "large--one-quarter medium--one-quarter small--one-half" %}
{% elsif section.settings.columns == "3" %}
{% assign grid_item__width = "large--one-third medium--one-third small--one-half" %}
{% elsif section.settings.columns == "2" %}
{% assign grid_item__width = "large--one-half medium--one-half small--one-half" %}
{% elsif section.settings.columns == "1" %}
{% assign grid_item__width = "large--one-whole medium--one-whole" %}
{% endif %}

{% assign start_sub = false %}

<ul class="mega-menu no-bullets inline-list medium-down--hide">

	{% for link in linklists.main-menu.links %}

		<li>

			<a href="{{ link.url }}">{{ link.title }}</a>

			{% assign top_url = link.url %}

			{% for block in section.blocks %}

				{% if block.settings.top_link == top_url %}

					{% if start_sub == false %}
					<div class="mega-menu__drop">

						{% if section.settings.boxed %}
						<div class="wrapper">
						{% endif %}

						<div class="grid grid--uniform">
					{% endif %}

					{% assign start_sub = true %}

						<div class="grid__item {{ grid_item__width }}">

							<p><strong>{{ block.settings.sub_menu_heading }}</strong></p>

							{% if block.settings.sub_menu != blank %}

							{% assign sub_menu = linklists[block.settings.sub_menu]  %}

							<ul>

								{% for link in sub_menu.links %}

									<li>

										<a href="{{ link.url }}">{{ link.title }}</a>

									</li>

								{% endfor %}
							
							</ul>

							{% endif %}

						</div>

				{% else %}

					{% if start_sub %}
						{% if section.settings.boxed %}
						</div>
						{% endif %}
						</div>
					</div>		
					{% endif %}

					{% assign start_sub = false %}

				{% endif %}

			{% endfor %}

		</li>

	{% endfor %}
	
</ul>

{% schema %}
 {
	"name": "Mega Menu",
	"class": "mega-menu",
	"settings": [
		{
			"type": "checkbox",
			"id": "boxed",
			"label": "Boxed layout?",
			"info": "Should the Mega Menu be boxed?"
		},
		{
			"type": "select",
			"id": "columns",
			"label": "Menus per Row",
			"default": "4",
			"options": [
				{
					"value": "4",
					"label": "4"
				},
				{
					"value": "3",
					"label": "3"
				},
				{
					"value": "2",
					"label": "2"
				},
				{
					"value": "1",
					"label": "1"
				}
			]
		}
	],
	"blocks": [
		{
			"type": "top-nav",
			"name": "Top Nav",
			"settings": [
				{
					"type": "url",
					"id": "top_link",
					"label": "Parent Link"
				},
				{
					"type": "text",
					"id": "sub_menu_heading",
					"label": "Sub Menu Heading"
				},
				{
					"type": "link_list",
					"id": "sub_menu",
					"label": "Sub Menu"
				}
			]
		}
	],
	"presets": [
		{
		  "name": "Mega Menu",
		  "category": "top-nav"
		}
  	]
}
{% endschema %}