<div style="
{% if section.settings.top_spacing != '' %}padding-top: {{ section.settings.top_spacing }}px;{% endif %}
{% if section.settings.bottom_spacing != '' %}padding-bottom: {{ section.settings.bottom_spacing }}px; {% endif %}
{% if section.settings.background_colour != '' %} background-color: {{ section.settings.background_colour }}; {% endif %}"
{% if section.settings.section_layout %} class="{{ section.settings.section_layout }}" {% endif %}>

	{% if section.settings.contain %}
	<div class="wrapper">
	{% endif %}

		<div class="grid">

			<div class="grid__item">

				<div class="{{ section.settings.form-alignment }}" style="{% if section.settings.max_width != "" %}max-width: {{ section.settings.max_width }}; {% endif %} {% if section.settings.form-layout != "" %}{{ section.settings.form-layout }}; {% endif %}">
					
					{% if section.settings.title != ""  %}
						{% assign the_title = section.settings.title %}
					{% else %}
						{% assign the_title = false %}
					{% endif %}

					{% if section.settings.subtext != ""  %}
						{% assign the_intro = section.settings.subtext %}
					{% else %}
						{% assign the_intro = false %}
					{% endif %}

					{% include 'newsletter', newsletter_title:the_title, newsletter_subtext:the_intro %}

				</div>

			</div>

		</div>
	
	{% if section.settings.contain %}
	</div>
	{% endif %}

</div>

{% schema %}
 {
	"name": "Newsletter",
	"class": "newsletter-block",
	"settings": [
		{
            "type": "select",
            "id": "section_layout",
            "label": "Section Layout?",
            "default": "full-width",
            "info": "This will bleed the section to the full width of the screen.",
            "options": [
                {
                    "value": "full-width",
                    "label": "Full Width with padding"
                },
                {
                    "value": "full-width full-width--no-padding",
                    "label": "Full Width no padding"
                },
                {
                    "value": "boxed",
                    "label": "Boxed"
                }
            ]
        },
		{
          "type": "checkbox",
          "id": "contain",
          "label": "Contain content within wrapper?",
          "default": true,
          "info": "This will contain your content to a maximum of 1120px."
        },
		{
		  "type": "text",
		  "id": "top_spacing",
		  "label": "Top Spacing (in pixels)",
		  "default": "20",
		  "info": "Do not add units of measurement. E.g. px."
		},
		{
		  "type": "text",
		  "id": "bottom_spacing",
		  "label": "Bottom Spacing (in pixels)",
		  "default": "20",
		  "info": "Do not add units of measurement. E.g. px."
		},
		{
			"type": "color",
			"id": "background_colour",
			"label": "Background Colour",
			"default": "#EEEEEE"
		},
		{
			"type": "text",
			"id": "title",
			"label": "Heading",
			"default": "Newsletter Block"
		},
		{
			"type": "richtext",
			"id": "subtext",
			"label": "Sub Text",
			"default": "<p>Sign up to our mailing list for the latest offers</p>"
		},
		{
			"type": "select",
			"id": "form-alignment",
			"label": "Form alignment",
			"default": "text-left",
			"options": [
				{
					"value": "text-left",
					"label": "Left"
				},
				{
					"value": "text-center",
					"label": "Center"
				},
				{
					"value": "text-right",
					"label": "Right"
				}
			]
		},
		{
			"type": "select",
			"id": "form-layout",
			"label": "Form layout",
			"default": "margin: auto;",
			"options": [
				{
					"value": "margin-right: auto;",
					"label": "Left"
				},
				{
					"value": "margin: auto;",
					"label": "Center"
				},
				{
					"value": "margin-left: auto;",
					"label": "Right"
				}
			]
		},
		{
			"type": "text",
			"id": "max_width",
			"label": "Max Width",
			"default": "500px"
		}
	],
	"presets": [
		{
		  "name": "Newsletter Block",
		  "category": "Newsletter"
		}
  	]
}
{% endschema %}