{% if section.settings.show %}

{{ '//ajax.aspnetcdn.com/ajax/jquery.templates/beta1/jquery.tmpl.min.js' | script_tag }}
{{ 'jquery.products.min.js' | asset_url | script_tag }}

{% if section.settings.columns == "4" %}
{% assign grid_item__width = "large--one-quarter medium--one-quarter small--one-half" %}
{% elsif section.settings.columns == "3" %}
{% assign grid_item__width = "large--one-third medium--one-third small--one-half" %}
{% elsif section.settings.columns == "2" %}
{% assign grid_item__width = "large--one-half medium--one-half small--one-half" %}
{% elsif section.settings.columns == "1" %}
{% assign grid_item__width = "large--one-whole medium--one-whole" %}
{% endif %}

<div style="
{% if section.settings.top_spacing != '' %}padding-top: {{ section.settings.top_spacing }}px;{% endif %}
{% if section.settings.bottom_spacing != '' %}padding-bottom: {{ section.settings.bottom_spacing }}px; {% endif %}
{% if section.settings.background_colour != '' %} background-color: {{ section.settings.background_colour }}; {% endif %}"
{% if section.settings.section_layout %} class="{{ section.settings.section_layout }}" {% endif %}>

    {% if section.settings.contain %}
    <div class="wrapper">
    {% endif %}

    {% if section.settings.title != ""  %}

      <div class="grid">
        <div class="grid__item">
          <div class="{{ section.settings.heading-alignment }}">
            <h2>{{ section.settings.title }}</h2>
          </div>
        </div>
      </div>

    {% endif %}

    <div id="recently-viewed-products" class="grid grid--uniform" style="display:none">
      
    </div>

    {% raw %}
    <script id="recently-viewed-product-template" type="text/x-jquery-tmpl">
    <div class="grid__item {% endraw %}{{ grid_item__width }}{% raw %} product-grid-item" id="product-${handle}" >
      <div class="image">
        <a href="${url}">
          <img src="${Shopify.Products.resizeImage(featured_image, "medium")}" />
        </a>
      </div>
      <div class="details">
        <a href="${url}">
            <p class="title">${title}<br/>
            {{if price_varies}}From {{/if}}${Shopify.formatMoney(price)}</p>
        </a>
      </div>
    </div>
    </script>
    {% endraw %}

  </div>

</div>

<script type="text/javascript">
Shopify.money_format = "{{ shop.money_format }}";
Shopify.Products.showRecentlyViewed({
  howManyToShow:4,
  wrapperId: 'recently-viewed-products'
});
</script>

{% endif %}

{% schema %}
 {
  "name": "Recently Viewed",
  "class": "product-block",
  "settings": [
    {
        "type": "checkbox",
        "id": "show",
        "label": "Show section?",
        "default": true
    },
    {
        "type": "select",
        "id": "section_layout",
        "label": "Section Layout?",
        "default": "full-width",
        "info": "This will bleed the section to the full width of the screen.",
        "options": [
            {
                "value": "full-width",
                "label": "Full Width with padding"
            },
            {
                "value": "full-width full-width--no-padding",
                "label": "Full Width no padding"
            },
            {
                "value": "boxed",
                "label": "Boxed"
            }
        ]
    },
    {
        "type": "checkbox",
        "id": "contain",
        "label": "Contain content within wrapper?",
        "default": true,
        "info": "This will contain your content to a maximum of 1120px."
    },
    {
        "type": "text",
        "id": "top_spacing",
        "label": "Top Spacing (in pixels)",
        "default": "20",
        "info": "Do not add units of measurement. E.g. px."
    },
    {
        "type": "text",
        "id": "bottom_spacing",
        "label": "Bottom Spacing (in pixels)",
        "default": "20",
        "info": "Do not add units of measurement. E.g. px."
    },
    {
        "type": "color",
        "id": "background_colour",
        "label": "Background Colour",
        "default": "#EEEEEE"
    },
    {
        "type": "select",
        "id": "columns",
        "label": "Products per Row",
        "default": "4",
        "options": [
            {
                "value": "4",
                "label": "4"
            },
            {
                "value": "3",
                "label": "3"
            },
            {
                "value": "2",
                "label": "2"
            },
            {
                "value": "1",
                "label": "1"
            }
        ]
    },
    {
      "type": "text",
      "id": "title",
      "label": "Heading",
      "default": "Recently Viewed"
    },
    {
        "type": "select",
        "id": "heading-alignment",
        "label": "Heading alignment",
        "default": "text-left",
        "options": [
            {
                "value": "text-left",
                "label": "Left"
            },
            {
                "value": "text-center",
                "label": "Center"
            },
            {
                "value": "text-right",
                "label": "Right"
            }
        ]
    }
  ],
  "presets": [
        {
            "name": "Recently Viewed",
            "category": "Products"
        }
    ]
}
{% endschema %}