<div style="
{% if section.settings.top_spacing != '' %}padding-top: {{ section.settings.top_spacing }}px;{% endif %}
{% if section.settings.bottom_spacing != '' %}padding-bottom: {{ section.settings.bottom_spacing }}px; {% endif %}
{% if section.settings.background_colour != '' %} background-color: {{ section.settings.background_colour }}; {% endif %}"
{% if section.settings.section_layout %} class="{{ section.settings.section_layout }}" {% endif %}>

    <div class="grid grid--full">

        <div class="grid__item">
    
            <div class="slideshow cycle-slideshow" data-cycle-slides=".slide" {% if section.settings.slide_delay != blank %} data-cycle-delay="{{ section.settings.slide_delay }}"{% endif %} {% if section.settings.slide_animation != blank %} data-cycle-fx="{{ section.settings.slide_animation }}"{% endif %}>

                {% if section.settings.show_paging_dots %}
                <!-- empty element for pager links -->
                <div class="cycle-pager text-center"></div>
                {% endif %}

                {% for block in section.blocks %}

                <div class="slide">

                    <div class="hero hero--{{ block.settings.hero_size }}{% if block.settings.title != blank or block.settings.text != blank or block.settings.button_label != blank %} hero__overlay{% endif %} box bgsrcset ratio-container lazyload js "
                         {% if block.settings.image %}
                         data-desktop-image="{{ block.settings.image | img_url: '1120x' }}" 
                         {% endif %}
                         {% if block.settings.image %}
                         data-tablet-image="{{ block.settings.image | img_url: '768x' }}" 
                         {% endif %}
                         {% if block.settings.image %}
                         data-mobile-image="{{ block.settings.image | img_url: '480x' }}" 
                         {% endif %}
                         style="background-position: {{ block.settings.alignment }}; background-image: url('{{ block.settings.image | img_url: '480x' }}')" >
                      {% if block.settings.image == blank %}
                        <div class="placeholder-background">
                          {{ 'lifestyle-1' | placeholder_svg_tag: 'placeholder-svg' }}
                        </div>
                      {% endif %}
                      <div class="hero__inner {% if block.settings.content-vertical-alignment %}{{ block.settings.content-vertical-alignment }}{% endif %} {% if block.settings.content-horizontal-alignment %}{{ block.settings.content-horizontal-alignment }}{% endif %}">
                        <div class="page-width">
                          {% if block.settings.title != blank %}
                            <h2 class="h1 mega-title{% if block.settings.text_size == 'large' %} mega-title--large{% endif %}"{% if block.settings.text_colour %} style="color: {{ block.settings.text_colour }}"{% endif %}>{{ block.settings.title | escape }}</h2>
                          {% endif %}
                          {% if block.settings.text != blank %}
                            <div class="rte-setting mega-subtitle{% if block.settings.text_size == 'large' %} mega-subtitle--large{% endif %}"{% if block.settings.text_colour %} style="color: {{ block.settings.text_colour }}"{% endif %}>{{ block.settings.text }}</div>
                          {% endif %}
                          {% if block.settings.button_label != blank and block.settings.button_link != blank %}
                            <a href="{{ block.settings.button_link }}" class="btn hero__btn">
                              {{ block.settings.button_label | escape }}
                            </a>
                          {% endif %}
                        </div>
                      </div>
                    </div>

                </div>

                {% endfor %}

            </div>

        </div>

    </div>

</div>

{% schema %}
{
    "name": "Slideshow",
    "class": "slideshow",
    "settings": [
        {
            "type": "select",
            "id": "section_layout",
            "label": "Section Layout?",
            "default": "full-width",
            "info": "This will bleed the section to the full width of the screen.",
            "options": [
                {
                    "value": "full-width",
                    "label": "Full Width with padding"
                },
                {
                    "value": "full-width full-width--no-padding",
                    "label": "Full Width no padding"
                },
                {
                    "value": "boxed",
                    "label": "Boxed"
                }
            ]
        },
        {
          "type": "checkbox",
          "id": "contain",
          "label": "Contain content within wrapper?",
          "default": true,
          "info": "This will contain your content to a maximum of 1120px."
        },
        {
          "type": "text",
          "id": "top_spacing",
          "label": "Top Spacing (in pixels)",
          "default": "20",
          "info": "Do not add units of measurement. E.g. px."
        },
        {
          "type": "text",
          "id": "bottom_spacing",
          "label": "Bottom Spacing (in pixels)",
          "default": "20",
          "info": "Do not add units of measurement. E.g. px."
        },
        {
            "type": "color",
            "id": "background_colour",
            "label": "Background Colour",
            "default": "#EEEEEE"
        },
        {
            "type": "checkbox",
            "id": "show_paging_dots",
            "label": "Show paging dots",
            "default": true
        },
        {
            "type": "text",
            "id": "slide_delay",
            "label": "Slide Delay",
            "default": "5000",
            "info": "How many seconds (in miliseconds) pass before the slide transitions. E.g. 1 second equals 1000."
        },
        {
            "type": "select",
            "id": "slide_animation",
            "label": "Slide Transition Animation",
            "default": "fade",
            "options": [
                {
                    "value": "fade",
                    "label": "Fade"
                },
                {
                    "value": "fadeout",
                    "label": "Fadeout"
                },
                {
                    "value": "scrollHorz",
                    "label": "Scroll Horizontal"
                },
                {
                    "value": "none",
                    "label": "None"
                }
            ]
        }
    ],
    "blocks": [
        {
            "type" : "slide",
            "name" : "Slide",
            "settings": [
                {
                    "type": "image_picker",
                    "id": "image",
                    "label": "Image"
                },
                {
                    "type": "select",
                    "id": "alignment",
                    "label": "Image alignment",
                    "default": "center",
                    "options": [
                        {
                            "value": "top",
                            "label": "Top"
                        },
                        {
                            "value": "center",
                            "label": "Middle"
                        },
                        {
                            "value": "bottom",
                            "label": "Bottom"
                        }
                    ]
                },
            {
                "type": "select",
                "id": "content-vertical-alignment",
                "label": "Content Vertical Alignment",
                "default": "hero__inner--middle",
                "options": [
                    {
                        "value": "hero__inner--top",
                        "label": "Top"
                    },
                    {
                        "value": "hero__inner--middle",
                        "label": "Middle"
                    },
                    {
                        "value": "hero__inner--bottom",
                        "label": "Bottom"
                    }
                ]
            },
            {
                "type": "select",
                "id": "content-horizontal-alignment",
                "label": "Content Horizontal Alignment",
                "default": "text-center",
                "options": [
                    {
                        "value": "text-left",
                        "label": "Left"
                    },
                    {
                        "value": "text-center",
                        "label": "Center"
                    },
                    {
                        "value": "text-right",
                        "label": "Right"
                    }
                ]
            },
            {
                "type": "text",
                "id": "title",
                "label": "Heading",
                "default": "Slideshow"
            },
            {
                "type": "richtext",
                "id": "text",
                "label": "Text",
                "default": "<p>Use overlay text to give your customers insight into your brand. Select imagery and text that relates to your style and story.</p>"
            },
            {
                "type": "select",
                "id": "hero_size",
                "label": "Section height",
                "default": "medium",
                "options": [
                    {
                        "label": "Extra Small",
                        "value": "x-small"
                    },
                    {
                        "label": "Small",
                        "value": "small"
                    },
                    {
                        "label": "Medium",
                        "value": "medium"
                    },
                    {
                        "label": "Large",
                        "value": "large"
                    },
                    {
                        "label": "Extra Large",
                        "value": "x-large"
                    }
                ]
            },
            {
                "type": "select",
                "id": "text_size",
                "label": "Text size",
                "default": "medium",
                "options": [
                    {
                        "label": "Medium",
                        "value": "medium"
                    },
                    {
                        "label": "Large",
                        "value": "large"
                    }
                ]
            },
            {
                "type": "color",
                "id": "text_colour",
                "label": "Text Colour"
            },
            {
                "type": "text",
                "id": "button_label",
                "label": "Button label"
            },
            {
                "type": "url",
                "id": "button_link",
                "label": "Button link"
            }
        ]
      }
    ],
    "presets": [
        {
            "name": "Slideshow",
            "category": "Image",
            "blocks": [
                {
                    "type": "slide"
                },
                {
                    "type": "slide"
                }
            ]
        }
    ]
}
{% endschema %}