{% if section.settings.show %}

{{ 'jquery-ui.min.css' | asset_url | stylesheet_tag }}
{{ 'jquery-ui.structure.min.css' | asset_url | stylesheet_tag }}
{{ 'jquery-ui.theme.min.css' | asset_url | stylesheet_tag }}
{{ 'jquery-ui.min.js' | asset_url | script_tag }}

<div style="
{% if section.settings.top_spacing != '' %}padding-top: {{ section.settings.top_spacing }}px;{% endif %}
{% if section.settings.bottom_spacing != '' %}padding-bottom: {{ section.settings.bottom_spacing }}px; {% endif %}
{% if section.settings.background_colour != '' %} background-color: {{ section.settings.background_colour }}; {% endif %}">

    <div id="tabs" class="product__tabs">

        <ul>
        {% for block in section.blocks %}
            <li>
                <a href="#tab-{{ forloop.index }}">{{ block.settings.title }}</a>
            </li>
        {% endfor %}
        </ul>

        {% for block in section.blocks %}
            <div id="tab-{{ forloop.index }}">
                {{ block.settings.content }}
            </div>
        {% endfor %}

    </div>

</div>

<script type="text/javascript">
    jQuery( function($) {
        $( "#tabs" ).tabs();
    });
</script>

{% endif %}

{% schema %}
{
    "name": "Tab Group",
    "class": "tab-group",
    "max_blocks": 3,
    "settings": [
        {
            "type": "checkbox",
            "id": "show",
            "label": "Show tabs?",
            "default": true
        },
        {
            "type": "text",
            "id": "top_spacing",
            "label": "Top Spacing (in pixels)",
            "default": "20",
            "info": "Do not add units of measurement. E.g. px."
        },
        {
            "type": "text",
            "id": "bottom_spacing",
            "label": "Bottom Spacing (in pixels)",
            "default": "20",
            "info": "Do not add units of measurement. E.g. px."
        }
    ],
    "blocks": [
        {
            "type" : "tab_section",
            "name" : "Tab Section",
            "settings": [
                {
                    "type": "text",
                    "id": "title",
                    "label": "Heading",
                    "default": "Tab Heading"
                },
                {
                    "type": "richtext",
                    "id": "content",
                    "label": "Content",
                    "default": "<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus nec facilisis risus. Vestibulum blandit nunc a ex imperdiet, vitae volutpat turpis semper. Vestibulum ullamcorper mauris id nibh ultricies, nec egestas velit gravida.</p>"
                }
            ]
        }
    ],
    "presets": [
        {
            "name": "Tab Group",
            "category": "Image",
            "blocks": [
                { 
                    "type": "tab_section"
                },
                {
                    "type": "tab_section"
                }
            ]
        }
    ]
}
{% endschema %}