<div style="
{% if section.settings.top_spacing != '' %}padding-top: {{ section.settings.top_spacing }}px;{% endif %}
{% if section.settings.bottom_spacing != '' %}padding-bottom: {{ section.settings.bottom_spacing }}px; {% endif %}
{% if section.settings.background_colour != '' %} background-color: {{ section.settings.background_colour }}; {% endif %}"
{% if section.settings.section_layout %} class="{{ section.settings.section_layout }}" {% endif %}>

    {% if section.settings.contain %}
    <div class="wrapper">
    {% endif %}

        <div class="grid">
            <div class="grid__item {{ section.settings.text-horizontal-alignment }}">
                {% if section.settings.title != blank %}
                    <h2 class="h1 mega-title{% if section.settings.text_size == 'large' %} mega-title--large{% endif %}"{% if section.settings.text_colour %} style="color: {{ section.settings.text_colour }}"{% endif %}>{{ section.settings.title | escape }}</h2>
                {% endif %}
                {% if section.settings.text != blank %}
                    <div class="rte-setting mega-subtitle{% if section.settings.text_size == 'large' %} mega-subtitle--large{% endif %}"{% if section.settings.text_colour %} style="color: {{ section.settings.text_colour }}"{% endif %}>{{ section.settings.text }}</div>
                {% endif %}
            </div>
        </div>

    {% if section.settings.contain %}
    </div>
    {% endif %}

</div>

{% schema %}
  {
    "name": "Text",
    "class": "text-section",
    "settings": [
        {
            "type": "select",
            "id": "section_layout",
            "label": "Section Layout?",
            "default": "full-width",
            "info": "This will bleed the section to the full width of the screen.",
            "options": [
                {
                    "value": "full-width",
                    "label": "Full Width with padding"
                },
                {
                    "value": "full-width full-width--no-padding",
                    "label": "Full Width no padding"
                },
                {
                    "value": "boxed",
                    "label": "Boxed"
                }
            ]
        },
        {
            "type": "checkbox",
            "id": "contain",
            "label": "Contain content within wrapper?",
            "default": true,
            "info": "This will contain your content to a maximum of 1120px."
        },
        {
            "type": "text",
            "id": "top_spacing",
            "label": "Top Spacing (in pixels)",
            "default": "20",
            "info": "Do not add units of measurement. E.g. px."
        },
        {
            "type": "text",
            "id": "bottom_spacing",
            "label": "Bottom Spacing (in pixels)",
            "default": "20",
            "info": "Do not add units of measurement. E.g. px."
        },
        {
            "type": "color",
            "id": "background_colour",
            "label": "Background Colour",
            "default": "#EEEEEE"
        },
        {
            "type": "select",
            "id": "text-horizontal-alignment",
            "label": "Text Horizontal Alignment",
            "default": "text-center",
            "options": [
                {
                    "value": "text-left",
                    "label": "Left"
                },
                {
                    "value": "text-center",
                    "label": "Center"
                },
                {
                    "value": "text-right",
                    "label": "Right"
                }
            ]
        },
        {
            "type": "text",
            "id": "title",
            "label": "Heading",
            "default": "Section Title"
        },
        {
            "type": "richtext",
            "id": "text",
            "label": "Text",
            "default": "<p>Use overlay text to give your customers insight into your brand. Select imagery and text that relates to your style and story.</p>"
        },
        {
            "type": "select",
            "id": "text_size",
            "label": "Text size",
            "default": "medium",
            "options": [
                {
                    "label": "Medium",
                    "value": "medium"
                },
                {
                    "label": "Large",
                    "value": "large"
                }
            ]
        },
        {
            "type": "color",
            "id": "heading_colour",
            "label": "Heading Colour"
        },
        {
            "type": "color",
            "id": "text_colour",
            "label": "Text Colour"
        }
    ],
    "presets": [
        {
            "name": "Text",
            "category": "Content"
        }
    ]
}
{% endschema %}