/*============================================================================
  #Breakpoint and Grid Variables
==============================================================================*/
$viewportIncrement: 1px;

$small: 480px;
$medium: 768px;
$large: 769px;

$postSmall: $small + $viewportIncrement;
$preMedium: $medium - $viewportIncrement;
$preLarge: $large - $viewportIncrement;

/*============================================================================
  #General Variables
==============================================================================*/

// Timber Colors
$colorPrimary: {{ settings.color_primary }};
$colorSecondary: {{ settings.color_secondary }};

// Button colors
$colorBtnPrimary: $colorPrimary;
$colorBtnPrimaryHover: darken($colorBtnPrimary, 10%);
$colorBtnPrimaryActive: darken($colorBtnPrimaryHover, 10%);
$colorBtnPrimaryText: #fff;

$colorBtnSecondary: $colorSecondary;
$colorBtnSecondaryHover: darken($colorBtnSecondary, 10%);
$colorBtnSecondaryActive: darken($colorBtnSecondaryHover, 10%);
$colorBtnSecondaryText: #fff;

// Text link colors
$colorLink: $colorPrimary;
$colorLinkHover: lighten($colorPrimary, 15%);

// Text colors
$colorTextBody: {{ settings.color_body_text }};

// Backgrounds
$colorBody: {{ settings.color_body_bg }};

// Border colors
$colorBorder: {{ settings.color_borders }};

// Nav and dropdown link background
$colorNav: #f2f2f2;
$colorNavText: #333;

// Site Footer
$colorFooterBg: {{ settings.color_footer_bg }};
$colorFooterText: {{ settings.color_footer_text }};

// Logo max width
$logoMaxWidth: {{ settings.logo_max_width | default: '450' | remove: 'px' }}px;

// Helper colors
$disabledGrey: #f6f6f6;
$disabledBorder: darken($disabledGrey, 25%);
$errorRed: #d02e2e;
$errorRedBg: #fff6f6;
$successGreen: #56ad6a;
$successGreenBg: #ecfef0;

// Drawers
$drawerNavWidth: 300px;
$drawerCartWidth: 300px;
$colorDrawers: #f6f6f6;
$colorDrawerBorder: darken($colorDrawers, 5%);
$colorDrawerText: #333;
$drawerTransition: all 0.4s cubic-bezier(0.46, 0.01, 0.32, 1);

// Sizing variables
$siteWidth: 1180px;
$gutter: 30px;
$gridGutter: 30px; // can be a %, but nested grids will have smaller margins because of it
$radius: 3px;

// Z-index
$zindexNavDropdowns: 5;
$zindexDrawer: 10;


/*=============================================
  #Hero
================================================*/

.hero{
	display: table;
	height: 100%;
	width: 100%;
	background-size: cover;
	background-repeat: no-repeat;

	&.hero--x-small{
		min-height: 7em;
	}

	&.hero--small{
		min-height: 15em;
	}

	&.hero--medium{
		min-height: 25em;
	}

	&.hero--large{
		min-height: 30em;
	}

	&.hero--x-large{
		min-height: 40em;
	}

	.hero__inner{
		display: table-cell;
		width: 100%;
		height: 100%;
		padding: 0 1.5em;

		&.hero__inner--top{
			vertical-align: top;
		}

		&.hero__inner--middle{
			vertical-align: middle;
		}

		&.hero__inner--bottom{
			vertical-align: bottom;
		}
	}
}


/*=============================================
  #Hover Box
================================================*/

.hover-box{
	display: table;
	height: 100%;
	width: 100%;
	background-size: cover;
	background-repeat: no-repeat;

	&.hover-box--small{
		min-height: 15em;
	}

	&.hover-box--medium{
		min-height: 25em;
	}

	&.hover-box--large{
		min-height: 30em;
	}

	&:hover{
		
		.hover-box__inner{
			
			@media screen and (min-width: 789px){
				opacity: 1;
			}
		}
	}
	
	.hover-box__inner{
		display: table-cell;
		width: 100%;
		height: 100%;
		padding: 0 1.5em;
		-webkit-transition: opacity ease-in-out 0.3s;
		-moz-transition: opacity ease-in-out 0.3s;
		-o-transition: opacity ease-in-out 0.3s;
		transition: opacity ease-in-out 0.3s;
		opacity: 1;
			
		@media screen and (min-width: 789px){
			opacity: 0;
		}

		&.hover-box__inner--top{
			vertical-align: top;
		}

		&.hover-box__inner--middle{
			vertical-align: middle;
		}

		&.hover-box__inner--bottom{
			vertical-align: bottom;
		}
	}
}

/*=============================================
  #Image Link
================================================*/

.image-link{
	margin-bottom: 20px;

	a{

		&:hover{

			img{ opacity: 0.85; }
		}
	}

	img{
		display: block;
		width: 100%;
	}

	.image-link__inner{
		margin-top: 20px;
	}	
}


/*=============================================
  #Slideshow
================================================*/

.slideshow{
	
	.slide{
		width: 100%;
	}

	.cycle-pager{
		
		span{
			padding: 5px;
			cursor: pointer;
			font-size: 30px;
		}
	}
}


/*=============================================
  #Grid Table
================================================*/

.grid-table{
	display: table;

	@media screen and (max-width: 480px){
		display: block;
	}

	&.grid-table--top{

		.grid__item{
			vertical-align: top;
		}
	}

	&.grid-table--middle{

		.grid__item{
			vertical-align: middle;
		}
	}

	&.grid-table--bottom{

		.grid__item{
			vertical-align: bottom;
		}
	}

	.grid__item{
		float: none;
		display: table-cell;
		height: 100%;

		@media screen and (max-width: 480px){
			float: left;
			display: block;
			height: auto;
		}
	}
}


/*=============================================
  #Full Width
================================================*/

.full-width {
	width: 100vw;
	position: relative;
	left: 50%;
	right: 50%;
	margin-left: -50vw;
	margin-right: -50vw;

	> .grid{
		padding: 0 15px;

		@media screen and (min-width: 481px){
			padding: 0 30px;
		}
	}

	&.full-width--no-padding{
		
		> .grid{
			padding: 0;
			margin-left: 0;

			@media screen and (min-width: 481px){
				padding: 0;
				margin-left: 0;
			}
		}
	}	
}


/*=============================================
  #Mega Menu
================================================*/

.nav-bar{
	position: relative;	
}

.mega-menu{
	margin: 0 0 0 -15px;
	background-color: $colorNav;

	a{
		display: block;
		color: $colorNavText;
	}

	> li{

		a{
			padding: 10px 15px;
			font-size: 16px;
		}

		&:hover{
			
			> .mega-menu__drop{
				display: block;
			}
		}
	}

	.mega-menu__drop{
		position: absolute;
		top: 100%;
		left: 0;
		right: 0;
		display: none;
		padding: 15px;
		z-index: 800;
		background-color: $colorNav;

		ul{
			margin-left: 0;
		}

		li{ display: block; }

		a{
			display: block;
			padding: 5px 0;
		}
	}
}


/*=============================================
  #Recently Viewed
================================================*/

/* Some styles to get you started */
.collection {
clear: both;
padding-top: 50px;
}
.collection .product {
float: left;
text-align: center;
width: 162px; /* 160px + 1px + 1px for the borders on either side */
margin: 0 14px 14px 0;
padding: 0;
position: relative; /* used to display absolutely positioned sale tag */
overflow: hidden;
}
.collection .product.last {
margin-right: 0;
}
.collection .product .image {
border: 1px solid #E0E0E0;
margin-bottom: 10px;
height: 160px;
overflow: hidden;
}
.collection .product .cy {
display: block;
margin: 0 auto;
}
.collection .product .image img {
max-width: 160px;
}
.collection .product .title {
display: block;
line-height: 16px;
font-size: 12px;
color: #222;
font-weight: 700;
}
.collection .product .price {
display: block;
line-height: 16px;
font-size: 11px;
color: #777;
font-weight: normal;
}
/* new clearfix */
.clearfix:after {
visibility: hidden;
display: block;
font-size: 0;
content: " ";
clear: both;
height: 0;
}
* html .clearfix             { zoom: 1; } /* IE6 */
*:first-child+html .clearfix { zoom: 1; } /* IE7 */


/*=============================================
  #Swatches
================================================*/

/* 
   Swatches Styles
*/

{% assign width = '50px' %}
{% assign height = '35px' %}
.swatch { 
  margin:1em 0; 
}
/* Label */
.swatch .header {
  margin: 0.5em 0;
}
/* Hide radio buttons.*/
.swatch input { 
  display:none;
}
.swatch label {
  /* Rounded corners */
  -webkit-border-radius:2px;
  -moz-border-radius:2px;
  border-radius:2px;
  /* To give width and height */
  float:left;
  /* Color swatches contain no text so they need to have a width. */
  min-width:{{ width }} !important; 
  height:{{ height }} !important;
  /* No extra spacing between them */
  margin:0;
  /* The border when the button is not selected */
  border:#ccc 1px solid;
  /* Background color */
  background-color:#ddd;
  /* Styling text */
  font-size:13px;
  text-align:center;
  line-height:{{ height }};
  white-space:nowrap;
  text-transform:uppercase;
}
.swatch-element label { padding:0 10px; }
.color.swatch-element label { padding:0; }
/* Styling selected swatch */
/* Slightly raised */
.swatch input:checked + label {
  -webkit-box-shadow:0px 1px 2px rgba(0,0,0,0.8);
  -moz-box-shadow:0px 1px 2px rgba(0,0,0,0.8);
  box-shadow:0px 1px 2px rgba(0,0,0,0.8);
  border-color:transparent;
} 
.swatch .swatch-element {
  float:left;
  -webkit-transform:translateZ(0); /* webkit flicker fix */
  -webkit-font-smoothing:antialiased; /* webkit text rendering fix */
  /* Spacing between buttons */
  margin:0px 10px 10px 0;
  /* To position the sold out graphic and tooltip */
  position:relative;
}
/* Image with the cross in it */
.crossed-out { position:absolute; width:100%; height:100%; left:0; top:0; }
.swatch .swatch-element .crossed-out { display:none; }
.swatch .swatch-element.soldout .crossed-out { display:block; }
.swatch .swatch-element.soldout label {
  filter: alpha(opacity=60); /* internet explorer */
  -khtml-opacity: 0.6;      /* khtml, old safari */
  -moz-opacity: 0.6;       /* mozilla, netscape */
  opacity: 0.6;           /* fx, safari, opera */
}
/* Tooltips */
.swatch .tooltip {
  text-align:center;
  background:gray;
  color:#fff;
  bottom:100%;
  padding: 10px;
  display:block;
  position:absolute;
  width:100px;
  left:{{ width | remove: 'px' | to_number | divided_by: 2 | minus: 50 | plus: 2 }}px;
  margin-bottom:15px;
  /* Make it invisible by default */
  filter:alpha(opacity=0);
  -khtml-opacity: 0;
  -moz-opacity: 0;
  opacity:0;
  visibility:hidden;
  /* Animations */
  -webkit-transform: translateY(10px);
     -moz-transform: translateY(10px);
      -ms-transform: translateY(10px);
       -o-transform: translateY(10px);
          transform: translateY(10px);
  -webkit-transition: all .25s ease-out;
     -moz-transition: all .25s ease-out;
      -ms-transition: all .25s ease-out;
       -o-transition: all .25s ease-out;
          transition: all .25s ease-out;
  -webkit-box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.28);
     -moz-box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.28);
      -ms-box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.28);
       -o-box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.28);
          box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.28);
  z-index: 10000;
  -moz-box-sizing:border-box; 
  -webkit-box-sizing:border-box; 
  box-sizing:border-box;
}
.swatch .tooltip:before {
  bottom:-20px;
  content:" ";
  display:block;
  height:20px;
  left:0;
  position:absolute;
  width:100%;
}
/* CSS triangle */
.swatch .tooltip:after {
  border-left:solid transparent 10px;
  border-right:solid transparent 10px;
  border-top:solid gray 10px;
  bottom:-10px;
  content:" ";
  height:0;
  left:50%;
  margin-left:-13px;
  position:absolute;
  width:0;
}
.swatch .swatch-element:hover .tooltip {
  filter:alpha(opacity=100);
  -khtml-opacity:1;
  -moz-opacity:1;
  opacity:1;
  visibility:visible;
  -webkit-transform:translateY(0px);
     -moz-transform:translateY(0px);
      -ms-transform:translateY(0px);
       -o-transform:translateY(0px);
          transform:translateY(0px);
}
.swatch.error {
  background-color:#E8D2D2!important;
  color:#333!important;
  padding:1em;
  border-radius:5px;
}
.swatch.error p {
  margin:0.7em 0;
}
.swatch.error p:first-child {
  margin-top:0;
}
.swatch.error p:last-child {
  margin-bottom:0;
}
.swatch.error code {
  font-family:monospace;
}

.swatch input[type="radio"]{ display: none; }